<br/>
<br/>
<br/>
<hr/>
<footer>
  <p><%= current_year %> | Developed by: Boris Poluianov |
    Project's repository: <%= github_url('BorisPoluianov', 'TestGuru') %></p>
  <p>This project is part of the basic Ruby on Rails course provided by:
    <%= link_to 'Thinknetica.com', 'http://thinknetica.com/',
    target: :_blank %> - The Online School for Developers.</p>
</footer>
